<div class="container-fluid">

  <p>Data received from Child comp: {{profileName}}</p>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active"  data-toggle="tab" href="#basic-databinding"
        role="tab" aria-controls="basic-databinding" aria-selected="true">Basic Data Binding</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#cpb-tab" role="tab" aria-controls="cpb-tab"
        aria-selected="false">Custom Prop Binding</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#ceb-tab" role="tab" aria-controls="ceb-tab"
        aria-selected="false">Child to Parent Comp Communication</a>
      <a class="nav-item nav-link" data-toggle="tab" 
        href="#directives-tab" role="tab" aria-controls="directives-tab"
        aria-selected="false">Directives</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="basic-databinding" role="tabpanel"
      aria-labelledby="basic-databinding-tab">
      <h2>Basic Data Binding</h2>
      <h4>String Interpolation</h4>
      <p>{{ appName }}</p>
      <p>{{ avgExp }}</p>
      <p>{{ isLoggedIn }}</p>
      <p>{{ skillsList[0] }}</p>
      <p>{{ getAppName() }}</p>
      <input type="text" value="{{appName}}"> <!-- string interpolation -->
      <hr>

      <h4>Property Binding</h4>
      <input type="text" [value]="companyName">
      <br>
      <div class="boxStyle">
        Test
      </div>

      <div [ngClass]="{ boxStyleLogin: isLoggedIn, boxStyleLogout: !isLoggedIn }">
        Will work
      </div>

      <!-- todo: ngStyle -->

      <hr>
      <h4>Event Binding</h4>
      <button onclick="btnClickHandler()">Click me -- will not work -- open console</button>
      <br>
      <button (click)="btnClickHandler($event)">Click me</button>

      <hr>
      <h4>Two Way Binding</h4>
      <p>{{courseName}}</p> <!-- string interpolation -->
      <input type="text" [value]="courseName"> <!-- prop binding-->
      <br>
      <input type="text" [(ngModel)]="courseName"> 

    </div>

    <div class="tab-pane fade" id="cpb-tab" role="tabpanel" aria-labelledby="cpb-tab-tab">
      <h2>Custom Property Binding -- Parent to Child Comp Communication</h2>
      <app-cpb></app-cpb>
      <!-- step 2: send data to child comp thru the custom property 'age' using custom prop binding -->
      <app-cpb [age]='30'></app-cpb>
      <app-cpb [age]='40'></app-cpb>
      <app-cpb [age]='avgExp'></app-cpb>
    </div>

    <div class="tab-pane fade" id="ceb-tab" role="tabpanel" aria-labelledby="ceb-tab-tab">
      <h2>Custom Event Binding -- Child to Parent Comp Communication</h2>
      <!-- step 3 of CEB -- work with handler -->
      <app-ceb (profileLoaded)='profileLoadedHandler($event)'></app-ceb>


    </div>

    <div class="tab-pane fade" id="directives-tab" role="tabpanel"
      aria-labelledby="directives-tab">
      <h2>Directives</h2>
      <p>
        Special instructions to Change the DOM 
      </p>
      <pre>
        1. Attribute Directives
            Examples: ngClass, routerLink, routerLinkActive, ngStyle
        2. Structural Directives (conditionals, looping)
            *ngIf,
            *ngFor,
            ngSwitch 
      </pre>
    </div>

  </div>
</div>